@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width:1199px) {
    .responsive-big{
        display: flex;
        height: auto;
        align-items: center;
        padding: 4px 0px;
        top: 0px;
        width: 100%;
        min-height: 11%;
        color: white;
    }
   
    
}